@CHARSET "UTF-8";
ol,
#menu-holder-editable{
    list-style: none;;
}
#menu-holder-editable{
    padding-left:5px;
}
#menu-holder-editable li.menu-item {

}
.menu-content{
    border:1px solid #dfdfdf;
    padding:6px 12px;
    margin:5px 0;
    width:100%;
    border-radius: 3px;
    color: #444;
    position: relative;
}
form .form-message{
    margin:10px;
}
.edit-row-menu{
    font-size:11px;
}
.edit-row-menu .btn{
    padding:3px 5px;
    font-size:8px;
}
.menu-active-mode-0{
    background:#eee;
}
#switch_form a{
    font-size:12px;
}
#existed-page-category-items{
	max-height: 350px;
	min-height: 150px;
	margin:15px 0;
	overflow: auto;
}
#existed-page-category-items ul li > ol,
#existed-page-category-items ul{
	padding:0; 
	list-style: none;
}
#existed-page-category-items ul li .key-title{
	background:#cfcfcf; 
	text-align: center; 
	text-transform: uppercase;;
	display:block;
	padding:7px 5px;
	font-weight: bold;
	margin-bottom:5px;
	
}