.blog-list-holder{
	list-style: none;
	padding:0;
}
ul.blog-list-holder li{
	margin-bottom:15px;
}
.blog-img{
	float:left; 
	width:60px; 
}
.blog-img img{
	width:100%;
}
.blog-content{
	text-align:justify;
	padding-left:69px;
}
.blog-title{
	font-size: 15px;
}